[aws]
aws_region_name = us-east-1

[cluster default]
key_name = keys_aws_east_1_aea
vpc_settings = vpc-b6b9b1d0 
base_os = ubuntu1604
master_instance_type = m5a.2xlarge
compute_instance_type = m5a.24xlarge
initial_queue_size = 100
max_queue_size = 100 
maintain_initial_size = true
scheduler = slurm

[vpc vpc-b6b9b1d0]
vpc_id = vpc-b6b9b1d0
master_subnet_id = subnet-29c01f61 

[global]
cluster_template = default
update_check = true
sanity_check = true 

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

