
profiles {
    standard {
        process.executor = 'local'
	docker.enabled = true
    }

    cluster {
        process.executor = 'slurm'
        process.queue = 'normal'
	docker.enabled = false
	process.cpus = 1 // maps to the `-c,--cpus-per-task` slurm option.
	//process.clusterOptions = '-n 8' // the `--ntasks` determines number of tasks allocated
	process.maxForks = 16 //max process instances executed in parallel. 1 means serial execution; default is number of cores-1
    }

    cloud {
        process.executor = 'aws'
        process.container = 'azza'
        docker.enabled = true
    }

}
