
profiles {
    standard {
        process.executor = 'local'
	docker.enabled = true
    }

    cluster {
        process.executor = 'slurm'
        process.queue = 'compute' //'compute' on pcluster, 'normal' on biocluster
	docker.enabled = false
	process.cpus = 1 // maps to the `-c,--cpus-per-task` slurm option.
	//process.clusterOptions = '-n 8' // the `--ntasks` determines number of tasks allocated
    }

    cloud {
        process.executor = 'aws'
        process.container = 'azza'
        docker.enabled = true
    }

}
