[aws]
aws_region_name = us-east-2

[cluster default]
key_name = aws_keys_aea
vpc_settings = vpc-00fd7369
base_os = ubuntu1604
initial_queue_size = 65536 
max_queue_size = 65536
maintain_initial_size = true
scheduler = slurm

[vpc vpc-00fd7369]
vpc_id = vpc-00fd7369
master_subnet_id = subnet-cfff63a6

[global]
cluster_template = default
update_check = true
sanity_check = true

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

